.chart {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.39);
}

.chartTitle {
    margin-bottom: 20px;
}